import { defineReactParts } from "@ghost-shell/react";
import { pluginManifest } from "./manifest.js";
import { MainPanel } from "./components/MainPanel.js";

export const pluginParts = defineReactParts(pluginManifest, {
  "__PART_ID__": MainPanel,
});
