{
  "name": "ghost.__PLUGIN_NAME__",
  "version": "0.1.0",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "vite"
  },
  "dependencies": {
__PLUGIN_DEPS__
  },
  "devDependencies": {
    "@module-federation/vite": "^1.8.1",
    "vite": "^5.4.19"
  }
}
